{% extends 'layout.html' %}

{% block content %}

{% include 'navbar.html' %}
{% include 'focus.html' %}

<div class="container-fluid">
	<div class="row">
		<div class="cray-title">
			<h2>
				<i class="glyphicon glyphicon-th-list"></i>
				音画简介
				<span>/YINHUAJIANJIE</span>
			</h2>
		</div>
		<div class="container">
			<p>北京音画梦想社会工作事务所成立于2011年，2014年年底在北京市民政局注册。通过对接高等院校的成熟志愿组织，招募艺术类志愿者到流动儿童聚集的学校活着社区授课，通过陪伴式的艺术教育帮助解决孩子自卑，沟通困难，对城市疏离等方面的问题。北京音画梦想社会工作事务所成立于2011年，2014年年底在北京市民政局注册。通过。</p>
			<div class="row title-content-m">
				<div class="col-md-4 col-xs-12 effct">
					<div class="row">
						<img src="" alt="">
						<h3>asdajssh</h3>
					</div>
				</div>
				<div class="col-md-4 col-xs-12 effct">
					<div class="row">
						<img src="" alt="">
						<h3>asdajssh</h3>
					</div>
				</div>
				<div class="col-md-4 col-xs-12 effct">
					<div class="row">
						<img src="" alt="">
						<h3>asdajssh</h3>
					</div>
				</div>
			</div>
			<div class="row work-box">
				<h3>业务模式</h3>
				<img src="../images/yewu_moshi.png" alt="">
				<h3>业务框架</h3>
				<ul>
					<li>
						<div class="col-md-2 col-xs-12 left">战略性项目</div>
						<div class="col-md-10 col-xs-12 ">北京音画梦想社会工作事务所成立于2011年，2014年年底在北京市民政局注册。通过对接高等院校的成熟志愿组织，招募艺术类志愿者到流动儿童聚集的学校活着社区授课，通过陪伴式的艺术教育帮助解决孩子自卑，沟通困难，对城市疏离等方面的问题。北京音画梦想社会工作事务所成立于2011年，2014年年底在北京市民政局注册。通过。</div>
					</li>
					<li>
						<div class="col-md-2 col-xs-12  left">战略性项目</div>
						<div class="col-md-10 col-xs-12 ">北京音画梦想社会工作事务所成立于2011年，2014年年底在北京市民政局注册。通过对接高等院校的成熟志愿组织，招募艺术类志愿者到流动儿童聚集的学校活着社区授课，通过陪伴式的艺术教育帮助解决孩子自卑，沟通困难，对城市疏离等方面的问题。北京音画梦想社会工作事务所成立于2011年，2014年年底在北京市民政局注册。通过。</div>
					</li>
					<li>
						<div class="col-md-2 col-xs-12  left">战略性项目</div>
						<div class="col-md-10 col-xs-12 ">北京音画梦想社会工作事务所成立于2011年，2014年年底在北京市民政局注册。通过对接高等院校的成熟志愿组织，招募艺术类志愿者到流动儿童聚集的学校活着社区授课，通过陪伴式的艺术教育帮助解决孩子自卑，沟通困难，对城市疏离等方面的问题。北京音画梦想社会工作事务所成立于2011年，2014年年底在北京市民政局注册。通过。</div>
					</li>
					<li>
						<div class="col-md-2 col-xs-12  left">战略性项目</div>
						<div class="col-md-10 col-xs-12 ">北京音画梦想社会工作事务所成立于2011年，2014年年底在北京市民政局注册。通过对接高等院校的成熟志愿组织，招募艺术类志愿者到流动儿童聚集的学校活着社区授课，通过陪伴式的艺术教育帮助解决孩子自卑，沟通困难，对城市疏离等方面的问题。北京音画梦想社会工作事务所成立于2011年，2014年年底在北京市民政局注册。通过。</div>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="cray-title">
			<h2>
				<i class="glyphicon glyphicon-th-list"></i>
				发展历程
				<span>/FAZANGLICEHENG</span>
			</h2>
		</div>
		<div class="container">
			<div class="row">
				<p>北京音画梦想社会工作事务所成立于2011年，2014年年底在北京市民政局注册。通过对接高等院校的成熟志愿组织，招募艺术类志愿者到流动儿童聚集的学校活着社区授课，通过陪伴式的艺术教育帮助解决孩子自卑，沟通困难，对城市疏离等方面的问题。北京音画梦想社会工作事务所成立于2011年，2014年年底在北京市民政局注册。</p>
				<div class="work-box">
					<h3>时光长河－音画梦想</h3>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="cray-title">
			<h2>
				<i class="glyphicon glyphicon-th-list"></i>
				 核心团队
				<span>/FAZANGLICEHENG</span>
			</h2>
		</div>
		<div class="container">
			<div class="row work-box">
				{% include 'panel-team.html' %}
			</div>
		</div>
	</div>

	<div class="row">
		<div class="cray-title">
			<h2>
				<i class="glyphicon glyphicon-th-list"></i>
				
				<span>/FAZANGLICEHENG</span>
			</h2>
		</div>
		<div class="container">
			<div class="row work-box">
				{% include 'panel-faq.html' %}
			</div>
		</div>
	</div>
</div>

{% include 'footer.html' %}
{% endblock %}