<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h3 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          组织框架
        </a>
      </h3>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        北京音画梦想社会工作事务所成立于2011年，2014年年底在北京市民政局注册。通过对接高等院校的成熟志愿组织，招募艺术类志愿者到流动儿童聚集的学校活着社区授课，通过陪伴式的艺术教育帮助解决孩子自卑，沟通困难，对城市疏离等方面的问题。北京音画梦想社会工作事务所成立于2011年，2014年年底在北京市民政局注册。
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h3 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          核心团队
        </a>
      </h3>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        北京音画梦想社会工作事务所成立于2011年，2014年年底在北京市民政局注册。通过对接高等院校的成熟志愿组织，招募艺术类志愿者到流动儿童聚集的学校活着社区授课，通过陪伴式的艺术教育帮助解决孩子自卑，沟通困难，对城市疏离等方面的问题。北京音画梦想社会工作事务所成立于2011年，2014年年底在北京市民政局注册。
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h3 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          专家团队
        </a>
      </h3>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
       北京音画梦想社会工作事务所成立于2011年，2014年年底在北京市民政局注册。通过对接高等院校的成熟志愿组织，招募艺术类志愿者到流动儿童聚集的学校活着社区授课，通过陪伴式的艺术教育帮助解决孩子自卑，沟通困难，对城市疏离等方面的问题。北京音画梦想社会工作事务所成立于2011年，2014年年底在北京市民政局注册。
    </div>
  </div>
</div>