<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="faqtitleOne">
      <h3 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#faqConOne" aria-expanded="true" aria-controls="faqConOne">
          组织框架
        </a>
      </h3>
    </div>
    <div id="faqConOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="faqtitleOne">
      <div class="panel-body">
        北京音画梦想社会工作事务所成立于2011年，2014年年底在北京市民政局注册。通过对接高等院校的成熟志愿组织，招募艺术类志愿者到流动儿童聚集的学校活着社区授课，通过陪伴式的艺术教育帮助解决孩子自卑，沟通困难，对城市疏离等方面的问题。北京音画梦想社会工作事务所成立于2011年，2014年年底在北京市民政局注册。
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="faqtitleTwo">
      <h3 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#faqConTwo" aria-expanded="false" aria-controls="faqConTwo">
          核心团队
        </a>
      </h3>
    </div>
    <div id="faqConTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="faqtitleTwo">
      <div class="panel-body">
        北京音画梦想社会工作事务所成立于2011年，2014年年底在北京市民政局注册。通过对接高等院校的成熟志愿组织，招募艺术类志愿者到流动儿童聚集的学校活着社区授课，通过陪伴式的艺术教育帮助解决孩子自卑，沟通困难，对城市疏离等方面的问题。北京音画梦想社会工作事务所成立于2011年，2014年年底在北京市民政局注册。
      </div>
    </div>
  </div>
</div>